body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#editor-container {
    margin: auto;
    width: 80%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative; /* Nécessaire pour positionner correctement la ligne du "Voir plus" */
}

#text-input {
    width: 100%; /* Utilisez 100% pour occuper toute la largeur du conteneur */
    height: 200px;
    padding: 10px; /* Padding intérieur */
    box-sizing: border-box; /* Inclut padding et border dans la largeur totale */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    overflow: auto; /* Au cas où le texte dépasse */
}

#see-more-line {
    position: absolute; /* Positionnement absolu par rapport à editor-container */
    left: 0;
    right: 0;
}


button {
    background-color: #0077b5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005691;
}

.text-danger {
    color: red;
}
