body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#editor-container {
    position: relative;
    margin: 20px auto;
    width: 80%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

#zoom-buttons {
    position: absolute;
    top: 10px;
    left: 30px;
}

#copy-button {
    position: absolute;
    top: 10px;
    right: 30px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#format-buttons {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 12px;
    margin-top: 8px;
}

button {
    background-color: #0077b5;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005691;
}

#text-input {
    width: calc(100% - 20px);
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    overflow: auto;
    overflow-y: auto;
    line-height: 20px;
    height: 200px;
    margin-top: 20px;
}

#text-editor {
    width: calc(100% - 20px);
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #fff;
    line-height: 1;
    font-size: 18px;
    text-align: left;
    resize: both;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#see-more-line {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    border-top: 1px dashed red;
    pointer-events: none;
    z-index: 10;
}

.text-danger {
    color: red;
}

#font-style-selector {
    padding: 5px 10px;
    margin-left: 0px;
}

@media (max-width: 768px) {
    #editor-container {
        width: 90%;
        padding: 10px;
    }

    #zoom-buttons {
        top: 5px;
        left: 10px;
    }

    #copy-button {
        top: 5px;
        right: 10px;
    }

    #format-buttons {
        justify-content: center;
        margin-left: 0;
    }

    button, #font-style-selector {
        padding: 5px;
        margin: 3px;
    }
}

@media (max-width: 480px) {
    #editor-container {
        width: 95%;
        padding: 5px;
    }

    #zoom-buttons {
        top: 5px;
        left: 5px;
    }

    #copy-button {
        top: 5px;
        right: 5px;
    }

    #format-buttons {
        justify-content: center;
        margin-left: 0;
    }

    button, #font-style-selector {
        padding: 3px;
        margin: 2px;
    }
}
