body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077b5; /* Couleur d'arrière-plan pour la barre de navigation */
    padding: 10px 20px; /* Ajustez selon vos préférences */
}

.site-title {
    color: white;
    font-size: 20px; /* Taille de la police pour le titre du site */
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Aucun soulignement */
    padding: 5px 10px; /* Espacement autour des liens */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

nav a:hover {
    background-color: #005691; /* Couleur de fond lors du survol */
    border-radius: 5px; /* Bords arrondis pour l'effet de survol */
}

.burger-menu {
    display: none; /* Caché par défaut, s'affichera en mode responsive */
    cursor: pointer;
    flex-direction: column; /* Alignement vertical des barres du menu */
}

.burger {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex; /* Affiche le menu burger en mode responsive */
    }

    nav {
        display: none; /* Cache la navigation sur les appareils mobiles */
        flex-direction: column;
        width: 100%; /* Pleine largeur pour le menu déroulant */
    }

    nav.active {
        display: flex; /* Affiche la navigation lorsque 'active' est ajouté par JavaScript */
    }
}

footer {
    margin: 0;
    padding: 0;
}
